<div class="row">
  <div class="col-md-8">
    <h1>Classes</h1>
    {{#each teacher}}
      <div>
        <h2>{{teacher.first_name}} {{teacher.last_name}}</h2>
        <ul>
          {{#each student}}
          <li>{{student.first_name}} {{student.last_name}}</li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>