<div class="row">
  <div class="col-md-8">
    <h1>Classes</h1>
    {{#each teacher}}
      <div>
        <h2>{{first_name}} {{last_name}}</h2>
        <ul>
          {{#each students}}
          <li>{{first_name}} {{last_name}}</li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>